In [1]:
import pandas as pd
import numpy as np

#load data
data=pd.read_csv(r"C:\Users\maybe\OneDrive\Desktop\One elective Data Science\raw_galaxy_data_optical.csv")

#check first rows to verify it loaded correctly
print(data.head(1))

   No. Object Name       RA       DEC Type  Velocity  Redshift Redshift Flag  \
0    1    NGC 7814  0.81204  16.14542    G      1051  0.003506           S1L

  Magnitude and Filter  Separation  References  Notes  Photometry Points  \
0                11.56           0         301      9                131

   Positions  Redshift Points  Diameter Points  Associations
0         40               28               14             0

In [2]:
#check last rows
print(data.tail(1))

       No. Object Name         RA       DEC Type  Velocity  Redshift  \
1119  1120    NGC 7796  359.74906 -55.45832    G      3290  0.010974

     Redshift Flag Magnitude and Filter  Separation  References  Notes  \
1119           SUN                12.46           0         116      4

      Photometry Points  Positions  Redshift Points  Diameter Points  \
1119                 78         21               18               19

      Associations
1119             0

In [3]:
#check random rows
data.sample(4)

,No.,Object Name,RA,DEC,Type,Velocity,Redshift,Redshift Flag,Magnitude and Filter,Separation,References,Notes,Photometry Points,Positions,Redshift Points,Diameter Points,Associations
719,720,NGC 4767,193.47063,-39.71431,G,2995,0.009990,SUN,12.51,0,102,3,70,13,14,19,0
1029,1030,NGC 7049,319.75126,-48.56216,G,2285,0.007622,SUN,11.72,0,156,6,95,21,14,17,0
637,638,NGC 4490,187.65100,41.64390,G,565,0.001885,SUN,10.22,0,606,11,156,61,32,12,1
279,280,NGC 2500,120.47171,50.73711,G,514,0.001715,S1L,12.2,0,251,9,138,48,24,7,0

In [4]:
#check for missing values or Na, True for missing, false for not missing
missing=data.isna()
print(missing)

        No.  Object Name     RA    DEC   Type  Velocity  Redshift  \
0     False        False  False  False  False     False     False
1     False        False  False  False  False     False     False
2     False        False  False  False  False     False     False
3     False        False  False  False  False     False     False
4     False        False  False  False  False     False     False
...     ...          ...    ...    ...    ...       ...       ...
1115  False        False  False  False  False     False     False
1116  False        False  False  False  False     False     False
1117  False        False  False  False  False     False     False
1118  False        False  False  False  False     False     False
1119  False        False  False  False  False     False     False

      Redshift Flag  Magnitude and Filter  Separation  References  Notes  \
0             False                 False       False       False  False
1             False                 False       False       False  False
2             False                 False       False       False  False
3             False                 False       False       False  False
4             False                 False       False       False  False
...             ...                   ...         ...         ...    ...
1115          False                 False       False       False  False
1116          False                 False       False       False  False
1117          False                 False       False       False  False
1118          False                 False       False       False  False
1119          False                 False       False       False  False

      Photometry Points  Positions  Redshift Points  Diameter Points  \
0                 False      False            False            False
1                 False      False            False            False
2                 False      False            False            False
3                 False      False            False            False
4                 False      False            False            False
...                 ...        ...              ...              ...
1115              False      False            False            False
1116              False      False            False            False
1117              False      False            False            False
1118              False      False            False            False
1119              False      False            False            False

      Associations
0            False
1            False
2            False
3            False
4            False
...            ...
1115         False
1116         False
1117         False
1118         False
1119         False

[1120 rows x 17 columns]

In [5]:
#checks total values missing for each column
missing=data.isna()
total=missing.sum()
print(total)

No.                     0
Object Name             0
RA                      0
DEC                     0
Type                    0
Velocity                0
Redshift                0
Redshift Flag           0
Magnitude and Filter    0
Separation              0
References              0
Notes                   0
Photometry Points       0
Positions               0
Redshift Points         0
Diameter Points         0
Associations            0
dtype: int64

In [6]:
#removes duplicate rows
duplicates=data.drop_duplicates(inplace=True)
print("Duplicates Removed:", duplicates)

Duplicates Removed: None

In [7]:
#Filter Columns
#Object Name: Galaxy ID
#RA: Position Coordinate in degrees
#DEC: Position Coordinate in degrees
#Type: Type of Celestial Object 
#Redshift: to calculate distance
#Magnitude and Filter: magnitude related to luminosity

critical_columns=['Object Name', 'Type', 'Velocity', 'Redshift', 'Magnitude and Filter']
data = data[critical_columns]
print(data)

     Object Name Type  Velocity  Redshift Magnitude and Filter
0       NGC 7814    G      1051  0.003506                11.56
1       NGC 7817    G      2310  0.007705                12.56
2      HD 225244   !*      8994  0.030000                 8.91
3        IC 1531    G      7687  0.025641                 13.8
4       NGC 0024    G       554  0.001848                12.38
...          ...  ...       ...       ...                  ...
1115    NGC 7744    G      3098  0.010334                12.87
1116    NGC 7755    G      2958  0.009867                12.56
1117    NGC 7771    G      4335  0.014460                12.2B
1118    NGC 7793    G       227  0.000757                 9.98
1119    NGC 7796    G      3290  0.010974                12.46

[1120 rows x 5 columns]

In [8]:
#finds all types of galaxies listed in column
unique=data['Type'].unique();
print(unique)

['G' '!*' 'GPair' 'RfN' 'PofG' '*' 'HII' '!PN' 'QSO']

In [9]:
#check statistics from each column with numerical values
data.describe()

#stats for certain columns
data[['Type']].describe()

#count is total number of entries
#unique is unique entries
#top is the most popular entry
#freq is the number of times the top appeared

        Type
count   1120
unique     9
top        G
freq    1041

In [10]:
# Locate rows where Type column contains G or GPair
data = data[(data['Type'] == 'G') | (data['Type'] == 'GPair')]
print(data)

     Object Name Type  Velocity  Redshift Magnitude and Filter
0       NGC 7814    G      1051  0.003506                11.56
1       NGC 7817    G      2310  0.007705                12.56
3        IC 1531    G      7687  0.025641                 13.8
4       NGC 0024    G       554  0.001848                12.38
6       NGC 0045    G       467  0.001558                11.55
...          ...  ...       ...       ...                  ...
1115    NGC 7744    G      3098  0.010334                12.87
1116    NGC 7755    G      2958  0.009867                12.56
1117    NGC 7771    G      4335  0.014460                12.2B
1118    NGC 7793    G       227  0.000757                 9.98
1119    NGC 7796    G      3290  0.010974                12.46

[1046 rows x 5 columns]

In [11]:
#finds all types of galaxies listed in column
unique=data['Type'].unique();
print(unique)
data[['Type']].describe()

['G' 'GPair']

        Type
count   1046
unique     2
top        G
freq    1041

In [12]:
#check data types
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1046 entries, 0 to 1119
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Object Name           1046 non-null   object
 1   Type                  1046 non-null   object
 2   Velocity              1046 non-null   int64
 3   Redshift              1046 non-null   float64
 4   Magnitude and Filter  1046 non-null   object
dtypes: float64(1), int64(1), object(3)
memory usage: 49.0+ KB

In [13]:
#locate rows listed
#data.loc[[2,4,5]]

#locate rows from and to
#data.loc[2:8]

#rows from and to the end
#data.loc[1118:]

In [14]:
#find the apparent magnitudes with filters
#finds all values with strings that contain letters A-Z, a-z
with_filter = data[data['Magnitude and Filter'].str.contains(r'[A-Za-z]')]
print(with_filter['Magnitude and Filter'])

9       12.8g
15      7.09B
16      13.2r
23      8.6 V
44      10.7B
        ...
1097    12.3g
1102    15.2g
1106    11.0B
1107    11.6B
1117    12.2B
Name: Magnitude and Filter, Length: 203, dtype: object

In [15]:
#to take out the letter from the magnitudes with filters
#then added to new column
no_filter=with_filter.copy()
no_filter['Magnitude'] = no_filter['Magnitude and Filter'].str.extract(r'(\d+\.\d+)').astype(float)
print(no_filter['Magnitude'])

9       12.80
15       7.09
16      13.20
23       8.60
44      10.70
        ...
1097    12.30
1102    15.20
1106    11.00
1107    11.60
1117    12.20
Name: Magnitude, Length: 203, dtype: float64

In [24]:
#check for missing data
missing=no_filter.isna()
total=missing.sum()
print(total)

Object Name             0
Type                    0
Velocity                0
Redshift                0
Magnitude and Filter    0
Magnitude               0
dtype: int64

In [23]:
#data updated
data=no_filter.copy()
print(data)

                    Object Name Type  Velocity  Redshift Magnitude and Filter  \
9                      NGC 0151    G      3732  0.012450                12.8g
15                     NGC 0253    G       242  0.000807                7.09B
16                     NGC 0262    G      4507  0.015034                13.2r
23    Sculptor Dwarf Elliptical    G       110  0.000367                8.6 V
44                     NGC 0613    G      1475  0.004920                10.7B
...                         ...  ...       ...       ...                  ...
1097                   NGC 7606    G      2234  0.007452                12.3g
1102  WISEA J232721.96+152437.3    G     13781  0.045967                15.2g
1106                    IC 5332    G       701  0.002338                11.0B
1107                   NGC 7713    G       696  0.002322                11.6B
1117                   NGC 7771    G      4335  0.014460                12.2B

      Magnitude
9         12.80
15         7.09
16        13.20
23         8.60
44        10.70
...         ...
1097      12.30
1102      15.20
1106      11.00
1107      11.60
1117      12.20

[203 rows x 6 columns]

In [25]:
#check for missing data
missing=data.isna()
total=missing.sum()
print(total)

Object Name             0
Type                    0
Velocity                0
Redshift                0
Magnitude and Filter    0
Magnitude               0
dtype: int64

In [19]:
#columns with strings compared with new column without strings
data[data['Magnitude and Filter'].str.contains(r'[A-Za-z]')]

,Object Name,Type,Velocity,Redshift,Magnitude and Filter,Magnitude
9,NGC 0151,G,3732,0.012450,12.8g,12.80
15,NGC 0253,G,242,0.000807,7.09B,7.09
16,NGC 0262,G,4507,0.015034,13.2r,13.20
23,Sculptor Dwarf Elliptical,G,110,0.000367,8.6 V,8.60
44,NGC 0613,G,1475,0.004920,10.7B,10.70
...,...,...,...,...,...,...
1097,NGC 7606,G,2234,0.007452,12.3g,12.30
1102,WISEA J232721.96+152437.3,G,13781,0.045967,15.2g,15.20
1106,IC 5332,G,701,0.002338,11.0B,11.00
1107,NGC 7713,G,696,0.002322,11.6B,11.60
1117,NGC 7771,G,4335,0.014460,12.2B,12.20

In [20]:
#new critical columns 
critical_columns=['Object Name', 'Type', 'Velocity', 'Redshift', 'Magnitude']
data = data[critical_columns]
print(data)

                    Object Name Type  Velocity  Redshift  Magnitude
9                      NGC 0151    G      3732  0.012450      12.80
15                     NGC 0253    G       242  0.000807       7.09
16                     NGC 0262    G      4507  0.015034      13.20
23    Sculptor Dwarf Elliptical    G       110  0.000367       8.60
44                     NGC 0613    G      1475  0.004920      10.70
...                         ...  ...       ...       ...        ...
1097                   NGC 7606    G      2234  0.007452      12.30
1102  WISEA J232721.96+152437.3    G     13781  0.045967      15.20
1106                    IC 5332    G       701  0.002338      11.00
1107                   NGC 7713    G       696  0.002322      11.60
1117                   NGC 7771    G      4335  0.014460      12.20

[203 rows x 5 columns]

In [21]:
#rename velocity column to include units
data = data.rename(columns={'Velocity': 'Velocity(km/s)'})
print(data)

                    Object Name Type  Velocity(km/s)  Redshift  Magnitude
9                      NGC 0151    G            3732  0.012450      12.80
15                     NGC 0253    G             242  0.000807       7.09
16                     NGC 0262    G            4507  0.015034      13.20
23    Sculptor Dwarf Elliptical    G             110  0.000367       8.60
44                     NGC 0613    G            1475  0.004920      10.70
...                         ...  ...             ...       ...        ...
1097                   NGC 7606    G            2234  0.007452      12.30
1102  WISEA J232721.96+152437.3    G           13781  0.045967      15.20
1106                    IC 5332    G             701  0.002338      11.00
1107                   NGC 7713    G             696  0.002322      11.60
1117                   NGC 7771    G            4335  0.014460      12.20

[203 rows x 5 columns]

In [22]:
#store cleaned data in new CSV file
cleaned_data = data.copy()
cleaned_data.to_csv('cleaned_data.csv', index=False)